<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Select</title>
  <link rel="stylesheet" href="/styleSelect.css">

</head>
<body>
    <div class="userSelection">
    <a href="/login"><img src="https://assets.codepen.io/1480814/av+1.png" alt="a random avatar picture" ></a>
    <a href="/doctorLogin"><img src="/doctor.png" alt="a random avatar picture" ></a>
    
    </div>
    <div class="userSelection">
        <h1>Patient</h1>
        <h1>Doctor</h1>
    </div>
 
  
</body>
</html>
